{
    "root": true,
    "parserOptions": {
        "ecmaVersion": 11,
        "sourceType": "module"
    },
    "extends": [
        "standard",
        "./node_modules/@typhonjs-fvtt/eslint-foundry.js/config/latest/.eslintrc"
    ],
    "rules": {
        "indent": [
            "error",
            4
        ],
        "multiline-ternary": [
            "error",
            "never"
        ],
        "eqeqeq": 2,
        "no-undef": 1,
        "no-unused-vars": 1,
        "no-shadow": ["error", { "builtinGlobals": true, "hoist": "all", "allow": ["event"] }]
    }
}