{
    "root": true,
    "parserOptions": {
        "ecmaVersion": 11,
        "sourceType": "module"
    },
    "extends": [
        "standard"
    ],
    "rules": {
        "indent": [
            "error",
            4
        ],
        "multiline-ternary": [
            "error",
            "never"
        ],
        "eqeqeq": 2,
        "no-undef": 1,
        "no-unused-vars": 1
    }
}