<div>
    <span class="rollable mr-1" data-roll="{{ armorDamageReduction item.data.tier.value }}"
      data-label="{{item.name~}}">{{item.name}}</span>
      <span class="text-mb-yellow armor" data-item-id="{{ item._id }}">
        -{{ armorDamageReduction item.data.tier.value }} skada.
        
        <a data-tier="1" class="text-xs armor-tier {{#if (is 1 item.data.tier.value)}}white{{/if}}">1</a>
        {{#if (notIs 1 item.data.tier.max)}}
        <a data-tier="2" class="text-xs armor-tier {{#if (is 2 item.data.tier.value)}}white{{/if}}">2</a>
        {{/if}}
        {{#if (is 3 item.data.tier.max)}}
        <a data-tier="3" class="text-xs armor-tier {{#if (is 3 item.data.tier.value)}}white{{/if}} {{#if (is 2 item.data.tier.max)}}hidden{{/if}}">3</a>
        {{/if}}
        <br>

        <small>
          {{#if item.data.agilityPenalty}}
            <span> SG+{{item.data.agilityPenalty}} för tester som rör Smidighet.</span>
          {{/if}}

          {{#if item.data.defencePenalty}}
            <span> SG+{{item.data.defencePenalty}} för tester som rör Försvar.</span>
          {{/if}}
        </small>
    </span>
  </div>