<div>
    <span class="action mr-1" data-roll="{{ item.data.damageReductionDice }}"
      data-label="{{item.name~}}">{{item.name}}</span><span class="text-mb-yellow">{{
      item.data.damageReductionDice }} skada.
      {{#if (notIs item.data.tier 0)}}
        Nivå {{ item.data.tier }}.
      {{/if}}


      {{#if item.data.agilityPenalty}}
      <span> SG+{{item.data.agilityPenalty}} för tester som rör Smidighet.</span>
      {{/if}}

      {{#if item.data.defencePenalty}}
      <span> SG+{{item.data.defencePenalty}} för tester som rör Försvar.</span>
      {{/if}}</span>
  </div>