<form class="{{cssClass}}" autocomplete="off"> 
  
  <div class="flex">
    <div class="w-full px-8 h-full">
      <div class="w-full flex items-center justify-center flex-col">
        <div class="w-full grid grid-cols-3 py-2">
          <div class="flex flex-col">
            <div class="flex items-center">
              <img src="{{actor.classObj.img}}" title="{{actor.classObj.name}}" height="75" width="75" class="rounded-full" />
              <input class="text-6xl mb-2 color-white font-secondary character-name" name="name" value="{{ actor.name }}" />
            </div>
            <div class="flex items-center">
              <button>Slå</button>
              <button>Kasta</button>
              <button>Försvara</button>
            </div>
          </div>
          
          <div class="actor-avatar py-1 flex items-center justify-center cursor-pointer">
              <img class="profile-img rounded-full border-none" src="{{actor.img}}" title="{{actor.name}}" />
              <span class="bg-black text-white inline-block w-32 text-center py-1 absolute hidden">Bli bättre</span>
          </div>

          <ul class=" pl-8">
            <li class="flex mb-1 items-center">
              <div class="w-24">
                <span>{{ localize "MB.Hitpoints" }}:</span>
              </div>
              <div>
                <span class="inline-block w-8">
                  <input type="text" name="data.health.value" value="{{data.health.value}}" data-dtype="Number"
                    placeholder="0" />
                </span>
                / {{data.health.max}}
              </div>
              <div class="ml-auto">
                <a href="javascript:;" class="decrease ml-1" data-value="data.health">-</a>
                <a href="javascript:;" class="increase" data-value="data.health">+</a>
              </div>
            </li>

            <li class="flex mb-1 items-center">
              <div class="w-24">
                <span class="rollable reroll-omens">{{ localize "MB.Omens" }}:</span>
              </div>
              <div>
                <span class="inline-block w-8">
                  <input type="text" name="data.omens.value" value="{{data.omens.value}}" data-dtype="Number"
                    placeholder="Current" />
                </span>
                / {{data.omens.max}}
              </div>
              <div class="ml-auto">
                <a href="javascript:;" class="decrease ml-1" data-value="data.omens">-</a>
                <a href="javascript:;" class="increase" data-value="data.omens">+</a>
              </div>
            </li>

            <li class="flex mb-1 items-center">
              <div class="w-24">
                <span class="rollable reroll-powers">{{ localize "MB.Powers"}}:</span>
              </div>
              <div>
                <span class="inline-block w-8">
                  <input type="text" name="data.powers.value" value="{{data.powers.value}}" data-dtype="Number"
                    placeholder="Current" />
                </span>
                / {{data.powers.max}}
              </div>
              <div class="ml-auto">
                <a href="javascript:;" class="decrease ml-1" data-value="data.powers">-</a>
                <a href="javascript:;" class="increase" data-value="data.powers">+</a>
              </div>
            </li>

            <li class="flex mb-1 items-center">
              <div class="w-24">
                <span>{{ localize "MB.ItemSilver" }}:</span>
              </div>
              <div>
                <span class="inline-block w-8">
                  <input type="text" name="data.currency.sp" value="{{data.currency.sp}}" data-dtype="Number"
                    placeholder="Current" />
                </span>
              </div>
              <div class="ml-auto">
                <a href="javascript:;" class="decrease ml-1" data-value="data.currency.sp">-</a>
                <a href="javascript:;" class="increase" data-value="data.currency.sp">+</a>
              </div>
            </li>
          </ul>
        </div>

        <!-- ABILITIES -->
        <div class="w-full border-t border-b border-white py-4 flex justify-around py-4">
          {{#each data.abilities as |ability key|}}
          <div class="ability flex" id="{{key}}" data-ability="{{key}}">
            <div class="rollable" data-roll="1d20+@abilities.{{key}}.value" data-label="{{ abilityLabel key }}">
              {{ abilityLabel key }}
            </div>
            <div class="w-8 ml-2">
              <input class="ability-score" id="data.abilities.{{key}}.value" name="data.abilities.{{key}}.value"
                type="text" value="{{numberFormat ability.value decimals=0 sign=true}}" data-dtype="Number"
                placeholder="0" />
            </div>
          </div>
          {{/each}}
        </div>
        <!-- /ABILITIES -->

        {{#if actor.data.creationData.isRolled }}
        {{> "systems/morkbork/templates/actor/parts/character-grid.html" actor=actor data=data}}
        {{else}}
        {{> "systems/morkbork/templates/actor/parts/character-create.html" actor=actor data=data}}
        {{/if}}
      </div>
    </div>
  </div>

</form>