<form class="{{cssClass}}" autocomplete="off">

  <div class="flex">
    <div class="w-full px-8 h-full">
      <div class="w-full flex items-center justify-center flex-col">
        <div class="w-full grid grid-cols-3">
          <div class="flex items-center">
            <input class="text-6xl mb-2 color-white font-secondary character-name" name="name" value="{{ actor.name }}">
          </div>
          <div>
            <div class="char-sign text-6xl text-black w-20 h-20 flex items-center justify-center my-4 mx-auto">
              {{firstChar actor.name}}</div>
          </div>

          <ul class=" pl-8">
            <li class="flex mb-1">
              <div class="w-24">
                <span>{{ localize "MB.Hitpoints" }}:</span>
              </div>
              <div>
                <span class="inline-block w-8">
                  <input type="text" name="data.health.value" value="{{data.health.value}}" data-dtype="Number"
                    placeholder="0" />
                </span>
                / {{data.health.max}}
              </div>
              <div class="ml-auto">
                <span class="decrease ml-1" data-value="data.health">-</span>
                <span class="increase" data-value="data.health">+</span>
              </div>
            </li>

            <li class="flex mb-1">
              <div class="w-24">
                <span class="rollable" >{{ localize "MB.Omens" }}:</span>
              </div>
              <div>
                <span class="inline-block w-8">
                  <input type="text" name="data.omens.value" value="{{data.omens.value}}" data-dtype="Number"
                    placeholder="Current" />
                </span>
                / {{data.omens.max}}
              </div>
              <div class="ml-auto">
                <span class="decrease ml-1" data-value="data.omens">-</span>
                <span class="increase" data-value="data.omens">+</span>
              </div>
            </li>

            <li class="flex mb-1">
              <div class="w-24">
                <span class="rollable" data-roll="1d4+{{data.abilities.presence.value}}">{{ localize "MB.Powers"}}:</span>
              </div>
              <div>
                <span class="inline-block w-8">
                  <input type="text" name="data.powers.value" value="{{data.powers.value}}" data-dtype="Number"
                    placeholder="Current" />
                </span>
                / {{data.powers.max}}
              </div>
              <div class="ml-auto">
                <span class="decrease ml-1" data-value="data.powers">-</span>
                <span class="increase" data-value="data.powers">+</span>
              </div>
            </li>

            <li class="flex mb-1">
              <div class="w-24">
                <span>{{ localize "MB.ItemSilver" }}:</span>
              </div>
              <div>
                <span class="inline-block w-8">
                  <input type="text" name="data.currency.sp" value="{{data.currency.sp}}" data-dtype="Number"
                    placeholder="Current" />
                </span>
              </div>
              <div class="ml-auto">
                <span class="decrease ml-1" data-value="data.currency.sp">-</span>
                <span class="increase" data-value="data.currency.sp">+</span>
              </div>
            </li>
          </ul>
        </div>

        <!-- ABILITIES -->
        <div class="w-full border-t border-b border-white py-4 flex justify-around py-4">
          {{#each data.abilities as |ability key|}}
          <div class="ability flex" id="{{key}}" data-ability="{{key}}">
            <div class="rollable" data-roll="1d20+@abilities.{{key}}.value" data-label="{{ abilityLabel key }}">
              {{ abilityLabel key }}
            </div>
            <div class="w-8 ml-2">
              <input class="ability-score" id="data.abilities.{{key}}.value" name="data.abilities.{{key}}.value"
                type="text" value="{{numberFormat ability.value decimals=0 sign=true}}" data-dtype="Number"
                placeholder="0" />
            </div>
          </div>
          {{/each}}
        </div>
        <!-- /ABILITIES -->

        <div class="character-grid w-full grid grid-cols-2">
          <div class="border-r">
            <h1>{{ actor.classObj.name }}</h1>

            <ul class="pt-2">
              {{#each actor.classObj.data.modifiers as |item id|}}
              <li class="item flex flex-col" data-item-id="{{item._id}}">
                {{item}}
              </li>
              {{/each}}
            </ul>

            <ul class="pt-2">
              {{#each data.class.abilities as |item id|}}
              <li class="item flex flex-col" data-item-id="{{item._id}}">
                {{item}}
              </li>
              {{/each}}
            </ul>

            <ul>
              {{#each actor.features as |item id|}}
              <li class="item flex flex-col" data-item-id="{{item._id}}">
                <strong class="mr-1">
                  {{item.name~}}
                </strong>
                {{ item.data.description }}
              </li>
              {{/each}}
            </ul>
          </div>
          <div>
            <h1>Utrustning</h1>
            <ul class="mt-2">
              {{#each actor.carriables as |item id|}}


              <li class="item flex mb-1" data-item-id="{{item._id}}">
                {{#if (is item.type "gear")}}
                  {{#if (notIs item.data.quantity 0)}}
                  <span class="mr-1">{{item.data.quantity}}</span>
                  {{/if}}
                  <span class="text-mb-yellow"> {{item.data.description}}.</span>
                {{/if}}

                {{#if (is item.type "weapon")}}
                <span class="action mr-1" data-roll="{{item.data.damageDice}}" data-label="{{item.name~}}">
                  {{item.name~}}
                </span>
                <span class="text-mb-yellow">{{item.data.damageDice}} skada.</span>
                {{/if}}

                {{#if (is item.type "scroll")}}
                <div>
                  <span class="rollable mr-1" data-roll="1d10" data-label="{{item.name~}}">{{item.name}} ({{ scrollLabel
                    item.data.scrollType }} {{ localize "MB.Scroll" }})</span>
                  <span class="text-mb-yellow">{{item.data.description}}</span>
                </div>
                {{/if}}

                {{#if (is item.type "armor")}}
                  {{> "systems/morkbork/templates/actor/parts/item-armor.html" item = item}}
                {{/if}}

                {{> "systems/morkbork/templates/actor/parts/item-controls.html" item = item}}
              </li>
              {{/each}}
            </ul>

          </div>

          <div class="border-r">
            <h1>Sorgligt ursprung</h1>

            <ul class="pt-2">
              {{#each data.class.origins as |origin id|}}
              <li class="item flex flex-col" data-item-id="{{item._id}}">
                {{origin}}
              </li>
              {{/each}}
            </ul>
          </div>
          <div>What should we do with the drunken sailor?</div>
        </div>
      </div>
    </div>
  </div>

</form>